@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  overflow-y: hidden;
}


/*******************************************************
*************CSS STYLES FOR LOGIN & SIGNUP**************
********************************************************/

/*  
.container-back-img{
  background-image: url('./../public/images/quick-chat-app-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
}
.container-back-color{
  background-color: #e74c3c;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.container {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  width: 400px;
  padding: 20px 0px;
  background-color: #ffffff;
  padding: 10px 30px;
}
.column{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form .column input{
  width: calc(100% / 2 - 2px); 
} 

.card_title {
  text-align: center;
  padding: 10px;
}

.card_title h1 {
  font-size: 26px;
  font-weight: bold;
}

.form input {
  margin-bottom: 5px;
  width: 100%;
  background-color: #efefef;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form button {
  background-color: #e74c3c;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
  margin-top: 10px;
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
  font-size: 13px;
}

.card a {
  color: #4796ff;
  text-decoration: none;
  margin-left: 5px;
}



*/


/*mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 400px; /* Fixed width for the card */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.formLogo {
  font-size: 40px;
  font-weight: 700;
  color: #1775ee;
  margin-bottom: 10px;
  text-align: center; /* Center logo text */
}

.formBox {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align items */
  width: 100%; /* Full width */
  padding: 20px; /* Padding around the content */
  background-color: #ffffff; /* White background for contrast */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  transition: transform 0.3s; /* Smooth transition for hover effect */  
}

.formFirstName,
.formSecondName
{
  width: 50%; /* Full width */
  height: 50px; /* Consistent height */
  border: none; /* Remove default border */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background */
  font-size: 16px; /* Font size */
  padding: 15px; /* Padding for inner space */
  margin-bottom: 15px; /* Space below the input */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s; /* Smooth transition */
}

.formPassword,
.formEmail
{
  width: 100%; /* Full width */
  height: 40px; /* Consistent height */
  border: none; /* Remove default border */
  border-radius: 10px; /* Rounded corners */
  background-color: #f9f9f9; /* Light background */
  font-size: 16px; /* Font size */
  padding: 15px; /* Padding for inner space */
  margin-bottom: 15px; /* Space below the input */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: all 0.3s; /* Smooth transition */
}

/* Focus effect */
.formFirstName:focus,
.formSecondName:focus,
.formPassword:focus,
.formEmail:focus {
  outline: none; /* Remove default outline */
  background-color: #ffffff; /* Change background on focus */
  border: 1px solid #1775ee; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(23, 117, 238, 0.5); /* Glowing effect */
}

.formButton {
  height: 40px;
  width: 60%; /* Full width of the card */
  border-radius: 10px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px; /* Space above button */
  display: flex;
  justify-content: center; /* Center the button horizontally */
  
}

.formButton:hover {
  background-color: #0056b3; /* Darker shade on hover */
  transform: translateY(-2px); /* Lift effect on hover */
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
  text-align: center; /* Center terms text */
  margin-top: 10px;
}


/********************************************************************
***************************CSS FOR LOADIER**************************
********************************************************************/

.loader-overlay{
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(131,190,229,255); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  align-items: center;
  display: flex;
  justify-content: center;
}
 
.loader-spinner,
.loader-spinner:after {
  box-sizing: border-box;
}
.loader-spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader-spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid white;
  border-color: white transparent white transparent;
  animation: loader-spinner 1.2s infinite;
}
@keyframes loader-spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


/*******************************************************
********CSS FOR HOME PAGE*******************************
********************************************************/
.home-page{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content{
  display: flex;
  width: 90%;
  margin: 10px auto;
  padding: 10px 10px;
  flex:1;
}


/*******************************************************
********CSS FOR HEADER COMPONENT************************
********************************************************/
.app-header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 30px;
  justify-content: space-between;
  border-bottom: #bbb 1px solid;
}

.app-logo{
  display: flex;
  flex-wrap: nowrap;
  color: #28282B;
  font-size: 25px;
  font-weight: bold;
}

i{
  margin: 5px 10px;
}

.app-user-profile{
  display: flex;
}

.logged-user-name{
  color: #28282B;
  font-weight: bold;
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 15px;
}

.logged-user-profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #83bee5;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  cursor: pointer;
}

/*******************************************************
********CSS FOR SIDEBAR COMPONENT************************
********************************************************/
.app-sidebar{
  width: 30%;
  padding: 0px 20px;
}


/*******************************************************
********CSS FOR SEARCH COMPONENT************************
********************************************************/
.user-search-area{
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
}
  

.user-search-text{
  width: 100%;
  height: 40px;
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  color: #28282B;
  border: #ddd 1px solid;
}

.user-search-btn{
  position: absolute;
  right: 5px;
  font-size: 25px;
  color: #83bee5;
  padding: 10px;
}


/*******************************************************
********CSS FOR USER LIST COMPONENT*********************
********************************************************/
.filtered-user{
  border-bottom: #ccc 1px solid;
  padding: 10px 10px;
  color: #28282B;
  cursor: pointer;
  background-color: #f0f1f1;
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(23, 24, 24, 0.8);
  margin-bottom: 10px; 
}
.selected-user{
  border-bottom: #ccc 1px solid;
  padding: 10px 10px;
  color: #28282B;
  cursor: pointer;
  background-color: #f0f1f1;
  box-shadow: 0 0 10px rgba(23, 24, 24, 0.8);
  border-radius: 20px;
  margin-bottom: 10px; 
}

.filtered-user:hover,
.selected-user:hover {
  background-color: #e0e1e1;
}

.filter-user-display{
  display: flex;
  flex-wrap: wrap;
}
.filter-user-details{
  width: 60%;
}
.user-display-name{
  padding: 1px 20px;
  font-size: 16px;
  font-weight: bold;
}
.user-display-email{
  padding: 1px 20px;
  font-size: 12px;
}

.user-default-avatar, .user-profile-image, .user-selected-avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.user-default-avatar{
  background-color: #a5cce7;
  color: white;
}
.user-selected-avatar{
  background-color: white;
  color: #a5cce7;
}

.user-start-chat{
  padding: 10px 0px;
}

.user-start-chat-btn{
  width: 200px;
  padding: 10px 5px;
  border: none;
  
  background-color: #a5cce7;
  color: rgb(16, 16, 16);
  border-radius: 40px;
}

.user-start-chat-btn:hover {
  background-color: #8bb8e4; /* Change to a darker shade on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

.user-search-filter-container {
  max-height: 400px; 
  overflow-y: auto; 
  border-radius: 8px; 
  padding: 10px; 
}

/*******************************************************
*************CSS STYLES FOR CHAT AREA**************
********************************************************/

.app-chat-area{
  background-color: rgb(245, 241, 241);
  width: 70%;
  padding: 20px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 85vh;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/*******************************************************
*************CSS STYLES FOR CHAT AREA HEADER************
********************************************************/
.app-chat-area-header{
    padding: 10px 30px;
    margin-bottom: 20px;
    border-bottom: #bbb 1px solid;
    text-align: right;
    font-weight: bold;
    color: #212325;
    border-radius: 50px;
    box-shadow: 0 2px 10px rgba(19, 18, 18, 0.2);
}

/*******************************************************
********CSS STYLES FOR CHAT AREA & CHAT INPUT***********
********************************************************/
.main-chat-area{
  flex: 1;
  overflow-y: scroll;
  padding: 10px 20px;
}

.send-message-div{
  position: relative;
  margin-top: 20px;
}

.send-message-input{
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #131313;
  border: #ddd 1px solid;
  
}

.send-message-input:focus {
  outline: none; /* Remove default outline */
  border-color: #83bee5; /* Change border color on focus */
  background-color: #ffffff; /* Background color on focus */
  box-shadow: 0 0 5px rgba(131,190,229,255); /* Add shadow on focus */
}

.send-message-btn{
  position: absolute;
  right: 10px;
  font-size: 25px;
  color: #808b93;
  cursor: pointer;
  border:none;
  background-color: #ffffff;
  margin-top: 15px;
  padding: 3px;
}


.send-emoji-btn{
  position: absolute;
  right: 50px;
  font-size: 25px;
  color: #808b93;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  margin-top: 15px;
  padding: 3px;
}

.send-image-btn{
  position: absolute;
  right: 80px;
  font-size: 25px;
  color: #808b93;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  margin-top: 5px;
}

.send-message-btn:hover,
.send-emoji-btn:hover,
.send-image-btn:hover {
    border-color: #1b8ad4; 
    background-color: #f5f5f5; 
    box-shadow: 0 0 10px rgba(100, 167, 212, 0.8);
}

/*****************************************************
***********CUSTOM SCROLLBAR FOR CHATAREA**************
******************************************************/
.main-chat-area::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.main-chat-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}

/* Handle */
.main-chat-area::-webkit-scrollbar-thumb {
  background: #808b93; 
  border-radius: 10px;
}

/* Handle on hover */
.main-chat-area::-webkit-scrollbar-thumb:hover {
  background: #5f5f5f; 
}

/*******************************************************
***************CSS FOR CHAT MESSAGES********************
********************************************************/
.message-container{
    display: flex;
}
.send-message, .received-message{
    padding: 10px 20px;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 17px;
    width: fit-content;
}

.send-message{ 
    background-color: #afd4f9;
    color: #28282B;
    margin-left: 100px;
    border-top-right-radius: 0px;
}

.received-message{ 
    background-color: #ddd;
    color: #28282B;
    margin-right: 100px;
    border-bottom-left-radius: 0px;
}
.message-timestamp{
  width: fit-content;
  font-size: 13px;
}
.last-message-timestamp{
  font-size: 13px;
}

/*****************************************************
************MEDIA QUERY FOR USER LIST*****************
******************************************************/

@media only screen and (max-width: 1100px) {
  .filter-user-details, .last-message-timestamp {
    display: none;
  }
  .user-search-area, .unread-message-counter {
      display: none;
  }
  .app-sidebar{
      width: 15%;
  }
  .app-chat-area{
      width: 85%
  }
  
}

.unread-message-counter{
  text-align: center;
  float: right;
  font-size: 13px;
  padding-top: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83bee5;
  font-weight: bold;
  color: white;
}


.typing-indicator{
  font-size: 13px;
  color: grey;
}


/*****************************************************
*************CSS STYLES FOR PROFILE PAGE**************
******************************************************/
/*
.profile-page-container{
  display: flex;
  width: 80%;
  color: #28282B;
  margin: 100px auto;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile-pic-container{
  width: 30%;
  display: flex;
  justify-content: center;
}
.profile-info-container{
  width: 70%;
  padding: 30px 10px;
}
.user-profile-pic-upload, .user-default-profile-avatar{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  color: #28282B;
  border: #ddd 5px solid;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 240px;
}

.user-profile-name{
  padding: 10px 0px;
  border-bottom: #cdcdcd 1.5px solid;
  margin-bottom: 30px;
}
.select-profile-pic-container{
  padding: 30px 0px;
}


input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #808b93;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}


input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
  color: #28282B;
}


input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
  color: #28282B;
}

.upload-image-btn {
  background-color: #1775ee; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.upload-image-btn:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
}

.logout-button{
  background-color: transparent;
  color:#83bee5 ;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.group_button
{
  

  background-color: #1b8ad4;
 
  color: white;

  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  text-align: center;
  padding-top: 10px;

}
.group_button:hover {
  background-color: #0056b3; 
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  place-items: center;
  width: 500px;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
*/
.profile-page-container{
  display: flex;
  width: 100%;
  color: #28282B;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.profile-page-container-aa{
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between items */
  align-items: center;
  width: 80%;
  height: 400px;
  color: #28282B;
  margin: 30px 60px 10px 60px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-pic-container{
  width: 30%;
  display: flex;
  justify-content: center;
}

.profile-info-container {
  width: 70%;
  padding: 30px 10px;
  max-height: 500px; /* Adjust height as needed */
  overflow-y: auto;  /* Enable vertical scrolling */
  border: 1px solid #ccc; /* Optional: border for visual clarity */
  border-radius: 8px; /* Optional: rounded corners */
  background-color: #f9f9f9; /* Optional: background color */
}




/* Optional: Add some styling to the scrollbar for better aesthetics */
.profile-info-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.profile-info-container::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.profile-info-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Darker color on hover */
}

.user-profile-pic-upload, .user-default-profile-avatar{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  color: #28282B;
  border: #ddd 5px solid;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 240px;
}

.user-default-profile-avatar{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  color: #28282B;
  border: #ddd 5px solid;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 240px;
}

.user-default-profile-avatar svg {
  
  color: #555; /* Icon color */
}

.user-profile-name{
  padding: 10px 0px;
  border-bottom: #cdcdcd 1.5px solid;
  margin-bottom: 30px;
}

.select-profile-pic-container{
  padding: 30px 0px;
}

.full-size-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.full-size-image {
  max-width: 90%;
  max-height: 90%;
}

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #808b93;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
  color: #28282B;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
  color: #28282B;
}

.upload-btn {
  width: 100px;
  height: 50px;
  background-color: #1775ee; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 10px 20px;
  font-size: 16px; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.upload-btn:hover {
  background-color: #0056b3; 
  transform: translateY(-2px); 
}

.user-setting {
  width: 60%;
  border-bottom: #ccc 1px solid;
  padding: 10px 10px;
  color: #83bee5;
  cursor: pointer;
  background-color: #f0f1f1;
  border-radius: 20px; 
  box-shadow: 0 0 10px rgba(23, 24, 24, 0.8);
  margin-bottom: 10px; 
  font-family: Poppins;
}

.user-setting:hover {
  background-color: #e0e1e1;
  color: #28282B;
  cursor: pointer;
}

.logout-button{
  background-color: transparent;
  color:#83bee5 ;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.send-image-btn{
  position: absolute;
  right: 80px;
  font-size: 25px;
  color: #808b93;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  margin-top: 15px;
  padding: 3px;

}

.send-file-btn{
  position: absolute;
  right: 125px;
  font-size: 25px;
  color: #808b93;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  margin-top: 15px;
  padding: 3px;

}

.send-file-btn:hover,
.send-message-btn:hover,
.send-emoji-btn:hover,
.send-image-btn:hover {
    border-color: #1b8ad4; 
    background-color: #f5f5f5; 
    box-shadow: 0 0 10px rgba(100, 167, 212, 0.8);}